# >>> docker-dev managed local files >>>
docker-dev
.docker-dev-state.json
reports/bearer.json
reports/gitleaks.json
reports/semgrep.json
reports/trivy-iac.json
reports/trivy-images.json
reports/trivy.json
# <<< docker-dev managed local files <<<
